.button {
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  position: relative;
  bottom: 100px;
  text-align: center;
  display: run-in;

}
.red {
  background-color: red;
  opacity: 0.5;
  height: 100px;
  width: 100px;
  position: relative;
  left: 200px;
  bottom: 200px;
border-radius: 100px;
border-color: 
}

.green {
  background-color: green;
  opacity: 0.5;
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 100px;

}

.yellow {
  background-color: yellow;
  opacity: 0.5;
  height: 100px;
  width: 100px;
  position: relative;
  left: 100px;
  bottom: 100px;
  border-radius: 100px;
}
